a {
    color: #fff;
}

li {
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}

main {
    width: 650px;
    padding-top: 40px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.donateButton {
    background-color: #3edb49;
    text-align: center;
    text-decoration: none;
    border-radius: 18px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 25px 15px;
    border: none;
    pointer-events: auto;
}

.donateButton:hover, .donateButton:active {
    background-color: #33b63c;
    cursor: pointer;
}
